body{
    background-color: #ddd;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

*{
    margin: 0;
    padding: 0;
}

.interface{
    background-color: #aaa;
    width: -webkit-fill-available;
}

.goalSelect{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding: 15px;
    margin: 15px;
    background-color: #ccc;
    filter: drop-shadow(0 0 5px #666);
    border-radius: 15px;
    width: 210px;
}

.goalSelect > img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.goalSelect > img.selected{
    border-radius: 1px;
    transform: scale(1.5);
}

.robots{
    position: absolute;
}
.setup .robots{
    opacity: 0;
    pointer-events: none;
}

.goals{
    position: absolute;
    pointer-events: none;
}
.setup .goals{
    pointer-events: all;
}

.robots > *, .goals > *{
    position: absolute;
    transform: translate(-50%, -50%);
}

.playPanel, .setupPanel, .solutionPanel{
    display: none;
}

.play .playPanel, .setup .setupPanel, .solution .solutionPanel{
    display: initial;
}

.robots > img{
    transition: all 0.5s ease-in-out;
}



.void{
    filter: contrast(.8) drop-shadow(0px 2px 0px #e5e) drop-shadow(0px -2px 0px #e5e) drop-shadow(2px 0px 0px #e5e) drop-shadow(-2px 0px 0px #e5e);
}

.red{
    filter: contrast(.8) drop-shadow(0px 2px 0px #e55) drop-shadow(0px -2px 0px #e55) drop-shadow(2px 0px 0px #e55) drop-shadow(-2px 0px 0px #e55);
}

.green{
    filter: contrast(.8) drop-shadow(0px 2px 0px #5c5) drop-shadow(0px -2px 0px #5c5) drop-shadow(2px 0px 0px #5c5) drop-shadow(-2px 0px 0px #5c5);
}

.blue{
    filter: contrast(.8) drop-shadow(0px 2px 0px #55c) drop-shadow(0px -2px 0px #55c) drop-shadow(2px 0px 0px #55c) drop-shadow(-2px 0px 0px #55c);
}

.yellow{
    filter: contrast(.8) drop-shadow(0px 2px 0px #ee5) drop-shadow(0px -2px 0px #ee5) drop-shadow(2px 0px 0px #ee5) drop-shadow(-2px 0px 0px #ee5);
}


.voidRobot{
    filter: drop-shadow(0px 4px 0px #e5e) drop-shadow(0px -4px 0px #e5e) drop-shadow(4px 0px 0px #e5e) drop-shadow(-4px 0px 0px #e5e);
}

.redRobot{
    filter: drop-shadow(0px 4px 0px #e55) drop-shadow(0px -4px 0px #e55) drop-shadow(4px 0px 0px #e55) drop-shadow(-4px 0px 0px #e55);
}

.greenRobot{
    filter: drop-shadow(0px 4px 0px #5c5) drop-shadow(0px -4px 0px #5c5) drop-shadow(4px 0px 0px #5c5) drop-shadow(-4px 0px 0px #5c5);
}

.blueRobot{
    filter: drop-shadow(0px 4px 0px #55c) drop-shadow(0px -4px 0px #55c) drop-shadow(4px 0px 0px #55c) drop-shadow(-4px 0px 0px #55c);
}

.yellowRobot{
    filter: drop-shadow(0px 4px 0px #ee5) drop-shadow(0px -4px 0px #ee5) drop-shadow(4px 0px 0px #ee5) drop-shadow(-4px 0px 0px #ee5);
}

